In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

In [8]:
parcel_df = pd.read_csv('Parcel.csv', encoding='latin-1')

In [7]:
parcel_df.columns

Index(['Major', 'Minor', 'PropName', 'PlatName', 'PlatLot', 'PlatBlock',
       'Range', 'Township', 'Section', 'QuarterSection', 'PropType', 'Area',
       'SubArea', 'SpecArea', 'SpecSubArea', 'DistrictName', 'LevyCode',
       'CurrentZoning', 'HBUAsIfVacant', 'HBUAsImproved', 'PresentUse',
       'SqFtLot', 'WaterSystem', 'SewerSystem', 'Access', 'Topography',
       'StreetSurface', 'RestrictiveSzShape', 'InadequateParking',
       'PcntUnusable', 'Unbuildable', 'MtRainier', 'Olympics', 'Cascades',
       'Territorial', 'SeattleSkyline', 'PugetSound', 'LakeWashington',
       'LakeSammamish', 'SmallLakeRiverCreek', 'OtherView', 'WfntLocation',
       'WfntFootage', 'WfntBank', 'WfntPoorQuality', 'WfntRestrictedAccess',
       'WfntAccessRights', 'WfntProximityInfluence', 'TidelandShoreland',
       'LotDepthFactor', 'TrafficNoise', 'AirportNoise', 'PowerLines',
       'OtherNuisances', 'NbrBldgSites', 'Contamination', 'DNRLease',
       'AdjacentGolfFairway', 'AdjacentGreenbelt', 'HistoricSite',
       'CurrentUseDesignation', 'NativeGrowthProtEsmt', 'Easements',
       'OtherDesignation', 'DeedRestrictions', 'DevelopmentRightsPurch',
       'CoalMineHazard', 'CriticalDrainage', 'ErosionHazard', 'LandfillBuffer',
       'HundredYrFloodPlain', 'SeismicHazard', 'LandslideHazard',
       'SteepSlopeHazard', 'Stream', 'Wetland', 'SpeciesOfConcern',
       'SensitiveAreaTract', 'WaterProblems', 'TranspConcurrency',
       'OtherProblems'],
      dtype='object')

In [9]:
parcel_wtr_df = parcel_df[['Major', 'Minor', "SqFtLot", "WfntLocation"]]

In [10]:
parcel_wtr_df.head()

    Major  Minor  SqFtLot  WfntLocation
0   42105   9040    14850             0
1  803540    320    13952             0
2   52406   9057   447361             0
3  113730    520    26000             0
4  932090    240     3000             0

In [11]:
unit_df = pd.read_csv('UnitBreakdown.csv')

In [12]:
unit_n_br_df = unit_df[['Major', 'Minor','NbrBedrooms', 'NbrBaths', 'SqFt']]

unit_n_br_df.head()

    Major  Minor NbrBedrooms  NbrBaths  SqFt
0   82605   9206           0       1.0   813
1  722850   2420           5       2.0     0
2  292605   9021           3       2.0  1165
3  182604   9228           1       1.0     0
4  720000    201           1       1.0   750

In [13]:
sale_df = pd.read_csv('Sale.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
sale_df = sale_df[['Major', 'Minor', 'SalePrice']]

sale_df.head()

    Major Minor  SalePrice
0  138860   110     245000
1  664885    40          0
2  423943    50          0
3  403700   715          0
4  951120   900      85000

In [15]:
sale_df['Major'] = pd.to_numeric(sale_df['Major'], errors='coerce')

In [16]:
sale_df['Minor'] = pd.to_numeric(sale_df['Minor'], errors='coerce')

In [17]:
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023223 entries, 0 to 2023222
Data columns (total 3 columns):
Major        float64
Minor        float64
SalePrice    int64
dtypes: float64(2), int64(1)
memory usage: 46.3 MB

In [18]:
sale_df['Major'].isna().sum()

2

In [19]:
sale_df = sale_df.dropna()

In [20]:
sale_df.head()

      Major  Minor  SalePrice
0  138860.0  110.0     245000
1  664885.0   40.0          0
2  423943.0   50.0          0
3  403700.0  715.0          0
4  951120.0  900.0      85000

In [21]:
sale_df.isna().sum()

Major        0
Minor        0
SalePrice    0
dtype: int64

In [22]:
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2023221 entries, 0 to 2023222
Data columns (total 3 columns):
Major        float64
Minor        float64
SalePrice    int64
dtypes: float64(2), int64(1)
memory usage: 61.7 MB

In [ ]:
parcel_wtr_df[['Major', 'Minor']]
unit_n_br_df[['Major', 'Minor']]

In [23]:
sale_df[['Major', 'Minor']] = sale_df[['Major', 'Minor']].astype('int64')

In [24]:
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2023221 entries, 0 to 2023222
Data columns (total 3 columns):
Major        int64
Minor        int64
SalePrice    int64
dtypes: int64(3)
memory usage: 61.7 MB

In [25]:
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2023221 entries, 0 to 2023222
Data columns (total 3 columns):
Major        int64
Minor        int64
SalePrice    int64
dtypes: int64(3)
memory usage: 61.7 MB

In [ ]:
sale_df.head()

In [ ]:
sale_parcel_df = pd.merge(sale_df, parcel_wtr_df, on=['Major', 'Minor'])

In [ ]:
sale_parcel_df.head(20)

In [ ]:
housing_df = pd.merge(joined_housing_df, unit_n_br_df, on=['Major', 'Minor'])

In [ ]:
housing_df.head(20)