In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
parcel_df = pd.read_csv('Parcel.csv', encoding='latin-1')

In [ ]:
parcel_wtr_df = parcel_df[['Major', 'Minor', "SqFtLot", "WfntLocation"]]

In [29]:
parcel_wtr_df.head()

    Major  Minor  SqFtLot  WfntLocation
0   42105   9040    14850             0
1  803540    320    13952             0
2   52406   9057   447361             0
3  113730    520    26000             0
4  932090    240     3000             0

In [22]:
unit_df = pd.read_csv('UnitBreakdown.csv')

In [32]:
unit_n_br_df = unit_df[['Major', 'Minor','NbrBedrooms', 'NbrBaths', 'SqFt']]
unit_n_br_df.head()

    Major  Minor NbrBedrooms  NbrBaths  SqFt
0   82605   9206           0       1.0   813
1  722850   2420           5       2.0     0
2  292605   9021           3       2.0  1165
3  182604   9228           1       1.0     0
4  720000    201           1       1.0   750

In [24]:
sale_df = pd.read_csv('Sale.csv')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (1,2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [33]:
sale_df = sale_df[['Major', 'Minor', 'SalePrice', 'PlatNbr']]
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023223 entries, 0 to 2023222
Data columns (total 4 columns):
Major        object
Minor        object
SalePrice    int64
PlatNbr      object
dtypes: int64(1), object(3)
memory usage: 61.7+ MB

In [51]:
safe_df['Major'] = pd.to_numeric(sale_df['Major'], errors='coerce')
sale_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2023223 entries, 0 to 2023222
Data columns (total 4 columns):
Major        object
Minor        object
SalePrice    int64
PlatNbr      object
dtypes: int64(1), object(3)
memory usage: 61.7+ MB

0